/*reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1 Từ ngoài vào trong
2 Từ trên xuống dưới
3 Từ tổng quan tới chi tiết

*/
/*
1 Vị trí
2 Kích thước
3 Màu sắc 
4 Kiểu dáng 
*/
#main{
   
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    
}
#header .search-btn
{   
    padding: 0 21px;
    line-height: 46px;
    color: white;
    float: right;
    
}
#header .search-btn:hover
{
    background-color: tomato;
    cursor: pointer;
}
#nav {
    display: inline-block;
}
#nav ul
{
    display : inline-block;
}

#nav li
{
    display: inline-block;
    position: relative;
}
#nav >li >a
{
    color: white;
    text-transform: uppercase;
}

#nav li a{
   
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav
{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: silver;
    color: black;

}

#nav .subnav{
    display: none;
    position: absolute;
    top : 100%;
    left:0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a
{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li
{
    display: block;
}
#nav .nav-arrow-down 
{
    font-size: 14px;
}

#slider
{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assests/img/slider/slider1.jpeg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    width: 100%;
    bottom: 47px;
    color: white;
    text-align: center;
}

#slider .text-heading{
    font-weight: 400;
    font-size: 15px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content{
   
}
#content .content-section
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
     
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    margin-top: 25px;
    line-height: 1.4;
}




#footer{

}
